<div class="registerForm">
    <h2>Register</h2>
    <p>You are:</p>
    <div id="register">
        <button>Client</button>
        <button>Farmer</button>
    </div>
</div>
<!-- <div class="registerForm" id="registerUser">
    <label for="username">Username:</label>
    <input type="text">
    <br>
    <label for="email">Email:</label>
    <input type="text">
    <br>
    <label for="password">Password:</label>
    <input type="password">
    <br>
    <label for="repeatPassword">Repeat password:</label>
    <input type="password">
    <br>
    <button>Register</button>
</div> -->
<div class="registerForm" id="registerFarmer">
    <label for="username">Username:</label>
    <input type="text">
    <br>
    <label for="farmName">Name of your farm:</label>
    <input type="text">
    <br>
    <label for="farmName">Location of your farm:</label>
    <input type="text">
    <br>
    <label for="farmName">Products:</label>
    <input type="text">
    <br>
    <label for="email">Email:</label>
    <input type="text">
    <br>
    <label for="password">Password:</label>
    <input type="password">
    <br>
    <label for="repeatPassword">Repeat password:</label>
    <input type="password">
    <br>
    <button>Register</button>
</div>