<div class="profile" *ngIf="farmer">
    <div class="wrapInfo">
        <h3>Personal information:</h3>
        <fieldset>
            <p>Name of my farm: <strong>{{farmer!.farmName}}</strong></p>
            <p>Location of my farm: <strong>{{farmer!.farmLocation}}</strong></p>
            <p>Production of my farm: <strong>{{farmer!.products}}</strong></p>
            <p>Username: <strong>{{farmer!.username}}</strong></p>
            <p>Email: <strong>{{farmer!.email}}</strong></p>
        </fieldset>
    </div>
    <aside>
        <div *ngIf="products">
            <h3>My products:</h3>
            <div class="wrapProducts">
                <div *ngFor="let myProduct of products" class="aside-product">
                    <fieldset class="product-card">
                        <h3>{{myProduct.title}}</h3>
                        <img alt="Product Image" src="{{myProduct.productImage}}">
                        <button [routerLink]="['/products', myProduct._id]">Details</button>
                    </fieldset>
                </div>
            </div>
        </div>
        <div *ngIf="!products">Loading...</div>
    </aside>
    <aside>
        <div *ngIf="orders">
            <h3>Ordered products:</h3>
            <div *ngFor="let order of orders let index = index">
                <fieldset class="product-card-order">
                    <p class="aside-orders">{{order}}</p>
                    <div *ngIf="toggle">
                        <div *ngFor="let currentClientOrder of detailsArrayIDs[index]">
                            <p class="clientsList">{{currentClientOrder}}</p>
                        </div>
                    </div>

                </fieldset>
            </div>
            <button *ngIf="!toggle" (click)="seeClients()">See clients</button>
            <button *ngIf="toggle" (click)="seeClients()">Hide clients</button>

        </div>
        <div *ngIf="!orders">no orders yet.</div>
    </aside>
</div>

<div class="profile" *ngIf="client">
    <div class="wrapInfo">
        <h3>Personal information:</h3>
        <fieldset>
            <p>Username: {{client!.username}}</p>
            <p>Email: {{client!.email}}</p>
        </fieldset>
    </div>
    <aside>
        <h3>My ordered products:</h3>
        <div *ngIf="resultArr">
            <div *ngFor="let myOrder of resultArr let index = index" class="aside-product">
                <fieldset class="product-card" class="ordered">
                    <img alt="Product Image" src="{{imagesArr[index]}}">
                    <h3>{{myOrder}}</h3>
                </fieldset>
            </div>
        </div>
        <div *ngIf="!resultArr">Loading...</div>
    </aside>
</div>