<nav class="header">
    <h2 class="header" routerLink="/home">Be Bio!</h2>
    <ul *ngIf="!isLoggedUser && !isLoggedFarmer">
        <li routerLink="/about">About</li>
        <li routerLink="/products">All products</li>
        <li routerLink="/login">Login</li>
        <li routerLink="/register">Register</li>
    </ul>
    <ul *ngIf="isLoggedUser || isLoggedFarmer">
        <li routerLink="/profile">{{clientName || farmerName}}'s profile</li>
        <li routerLink="/products">All products</li>
        <li *ngIf="farmerName" routerLink="/new-product">Create product</li>
        <li *ngIf="clientName" (click)="logoutClient()">Logout</li>
        <li *ngIf="farmerName" (click)="logoutFarmer()">Logout</li>
    </ul>
</nav>