<fieldset class="product-card" *ngIf="product">
    <h3>{{product.title}}</h3>
    <p>grown in: <strong>{{owner!?.farmName}}</strong></p>
    <p>location: <strong>{{owner!?.farmLocation}}</strong> </p>
    <img alt="Product Image" src="{{product!.productImage}}">
    <p>Description: {{product.description}}</p>

    <div *ngIf="isOwner">
        <button routerLink="/edit/{{product!._id}}">Edit</button>
        <button class="deleteButton" (click)="deleteProduct()">Delete</button>
    </div>

    <div *ngIf="client && !toggle">
        <!-- <button routerLink="/edit/{{product!._id}}">Edit</button> -->
        <button (click)="order()">Order</button>
    </div>
    <div *ngIf="client && toggle">
        <hr>
        <div class="order">
            <p>I would like</p>
            <input type="text" #quantity>
            <p>kg. </p>
            <!-- <button routerLink="/edit/{{product!._id}}">Edit</button> -->
            <button type="button" (click)="addOrder(quantity.value)">Confirm</button>
        </div>
    </div>
</fieldset>