/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background-image: url('./assets/healthy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    color: red;
    font-style: italic;
    font-size: smaller;
}

.errorMessage {
    color: red;
    font-style: italic;
    font-size: larger;
    padding-left:20px;
    background-color: azure;
}