<div class="home">
    <h2>Welcome to Bio Farms!</h2>
    <h3>Here you can find the freshest organic products for you and your family, directly from certified bio farms!</h3>
</div>

<div class="description">
    <div class="container">
        <h3>As a client you can easily browse and order the product you want at best price directly from the farm.</h3>
    </div>
    <div class="container">
        <h3>As a farmer you can easily connect with the clients and keep track of all orders.</h3>
    </div>
</div>